<div class="p-6 flex flex-col gap-10 mb-20">

    {{!-- Work Experiences --}}
    {{#each data.rows}}
    <div class="flex gap-10 shadow-sm px-4 py-12">
        <div class="h-16 w-16 mt-3">
            <img src="https://media.istockphoto.com/id/620951116/id/foto/pemandangan-panorama-matahari-terbit-berwarna-warni-di-pegunungan.jpg?b=1&s=612x612&w=0&k=20&c=za_yijsFPXku2U1j3vAhre-gZcuD8oYRoGtivIKff8E="
                id="pic" class="" alt="" />
        </div>
        <div class="w-full">
            <div class="">
                <div class="flex justify-between">
                    <div class="">
                        <h3 class="text-lg font-semibold" id="name">
                            {{this.namejob}}
                        </h3>
                        <p class="text-green-600" id="former">
                            {{this.company}}
                        </p>
                    </div>
                    <span class="text-gray-500" id="duration">{{this.datestart}}</span>
                </div>
            </div>
            <div class="mt-3">
                <ul class="list-inside list-disc mb-4 space-y-2 text-gray-600 text-sm" id="description">
                    {{#each activity}}
                    <li>{{this}}</li>
                    {{/each}}
            </div>
            <div class="flex gap-2 mt-2" id="techs">
                {{#each technology}}
                <span class="rounded-full bg-gray-200 text-xs font-medium px-3 py-1 text-gray-600">{{this}}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

</div>